<div ng-repeat="contact in vm.contacts">
   <div>{{contact.avatar}}</div>
   <div>{{contact.bio}}</div>
   <div>{{contact.name}}</div>
   <div ng-repeat="note in contact.notes">
     {{note.title}}
   </div>
</div>
<div class="container">
<div class="row">
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
  <div class="col-xs-1">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>
</div>
